@model IEnumerable<OfficeEntity.Tasks>

@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

<!--  Topbar -->
<nav>
    <div class="header text-uppercase" style="color:White ; text-decoration-style:solid">
        <h1>Task Board</h1>
    </div>
</nav>
<!-- End of Topbar -->

<!-- Begin Page Content -->
<div class="container-fluid">
    <!-- Content Row -->
    <div class="row">

        <!-- First Column -->
        <div class="col-lg-4">
            <!-- Custom Text Color Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">TO DO</h6>
                </div>
                @foreach(var items in Model)
                {
                    @if (items.status.ToString() == "ToDo")
                    {
                       <div class="card-body">                    
                            <div class="card mb-4 py-3 border-left-primary pop">
                               <textarea hidden id="taskId">@items.id</textarea>
                                <div class="card-body text-center">
                                   <p><a routerLink="tasks/task.title"><strong>@items.title</strong></a></p>
                                   <p>
                                      <small class="text-muted">
                                             Created On:
                                         <strong>@items.createdOn</strong>
                                      </small> |
                                      <small class="text-muted">
                                             Created By:
                                             <a routerLink="/profile/user/@items.profile.name"><strong>@items.profile.name</strong></a>
                                      </small> <br>
                                   </p>
                                   <div  style="display: inline;">
                                        <a asp-controller="TaskBoard" asp-action="Index" asp-route-taskId=@items.id><i class="fa-solid fa-circle-info" style="color:mediumslateblue; height:2px "> </i> </a>&nbsp;
                                        @if (items.profileId == Convert.ToInt32(TempData["LoginID"]))
                                        {
                                            TempData.Keep();
                                            <a asp-controller="Task" asp-action="EditTasks" asp-route-taskId=@items.id> <i class="fa-solid fa-pen-to-square" style="color:mediumorchid"></i></a>  
                                            <a asp-controller="Task" onclick="Myfunction()" asp-action="DeleteTasks" asp-route-taskId=@items.id> <i class="fa-solid fa-trash" style="color:darkmagenta"></i></a>
                                        }
                                    </div>
                                </div>
                            </div>
                       </div>
                    }
                }
            </div>
        </div>
       
        <!-- Second Column -->
        <div class="col-lg-4">
            <!-- Background Gradient Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-warning">DOING</h6>
                </div>
                  @foreach(var second in Model)
                {
                    @if (second.status.ToString() == "Doing")
                    {
                           <div class="card-body">
                               <div class="card mb-4 py-3 border-left-warning pop">
                                   <textarea hidden id="taskId">@second.id</textarea>
                                   <div class="card-body text-center">
                                     <p><a routerLink="/tasks/{{task.id}}"><strong>@second.title</strong></a></p>
                                     <p>
                                        <small class="text-muted">
                                               Created On:
                                               <strong>@second.createdOn</strong>
                                        </small> |
                                        <small class="text-muted">
                                               Created By:
                                               <a routerLink="/profile/user/@second.profile.name"><strong>@second.profile.name</strong></a>
                                        </small> <br>
                             
                                     </p>

                                     <div *ngIf="currentUser.id == message.userId" style="display: inline;">
                                        <a asp-controller="TaskBoard" asp-action="Index" asp-route-taskId=@second.id><i class="fa-solid fa-circle-info" style="color:mediumslateblue; height:2px "> </i> </a>&nbsp;
                                        @if (second.profileId == Convert.ToInt32(TempData["LoginID"]))
                                        {
                                            TempData.Keep();
                                            <a asp-controller="Task" asp-action="EditTasks" asp-route-taskId=@second.id> <i class="fa-solid fa-pen-to-square" style="color:mediumorchid"></i></a>

                                            <a asp-controller="Task" onclick="Myfunction()" asp-action="DeleteTasks" asp-route-taskId=@second.id> <i class="fa-solid fa-trash" style="color:darkmagenta"></i></a>
                                        } 
                                    </div>
                           
                                   </div>
                                </div>
                           </div>
                    }
                }
            </div>
        </div>
       

        <!-- Third Column -->
        <div class="col-lg-4">
            <!-- Grayscale Utilities -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-success">DONE</h6>
                </div>
               @foreach(var third in Model)
               {
                    @if (third.status.ToString() == "Done")
                    {
               
                        <div class="card-body">
                              <div class="card mb-4 py-3 border-left-success pop">
                                    <textarea hidden id="taskId">@third.id</textarea>
                                 <div class="card-body text-center">
                                      <p><a routerLink="/tasks/{{task.id}}"><strong>@third.title</strong></a></p>
                                    <p>
                                       <small class="text-muted">
                                              Created On:
                                              <strong>@third.createdOn</strong>
                                       </small> |
                                       <small class="text-muted">
                                              Created By:
                                              <a routerLink="/profile/user/@third.profile.name"><strong>@third.profile.name</strong></a>
                                       </small> <br>                             
                                    </p>

                                    <div style="display: inline;">
                                       
                                        <a asp-controller="TaskBoard" asp-action="Index" asp-route-taskId=@third.id><i class="fa-solid fa-circle-info" style="color:mediumslateblue; height:2px "> </i> </a>&nbsp;
                                        @if (third.profileId == Convert.ToInt32(TempData["LoginID"]))
                                        {
                                            TempData.Keep();
                                            <a asp-controller="Task" asp-action="EditTasks" asp-route-taskId=@third.id> <i class="fa-solid fa-pen-to-square" style="color:mediumorchid"></i></a>


                                            <a asp-controller="Task" onclick="Myfunction()" asp-action="DeleteTasks" asp-route-taskId=@third.id> <i class="fa-solid fa-trash" style="color:darkmagenta"></i></a>
                                        } 
                                    </div>
                          
                                 </div>
                              </div>
                         </div>
               
                    }
               }
            </div>
        </div>
    </div>
</div>


<script>
    function Myfunction(){
    
        let val = confirm("Do you want to delete the task?");
        if (val == false) {
            return event.preventDefault();
        }   
    }
</script>