@model OfficeEntity.Profile
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}
<h1><span style="color:blue background-color:white">Edit User profile</style></h1>
<hr/>

<span style="color:darkslateblue">User Name  </span><space></space>

<span class="form-control"  style="color:darkgoldenrod">@Model.UserName</span>
<br />

<span style="color:darkslateblue">Email  </span>
<span class="form-control"  style="color:darkgoldenrod">@Model.Email</span>

<hr/>
<form method="post" enctype="multipart/form-data">
   
    <div class=" =form-group">
        <label>position</label>
        <input type="text" asp-for="Position" class="form-control" placeholder="enter position" required />
    </div>
    @*<div class=" =form-group">
        <label>Id</label>
        <input type="text" asp-for="Id" class="form-control" placeholder="enter Id" required />
    </div>*@
    <div class=" =form-group">
        <label>Name</label>
        <input type="text" asp-for="Name" class="form-control" placeholder="enter name" required />
    </div>
    <div class=" =form-group">
        <label>Department</label>
        <input type="text" asp-for="Department" class="form-control" placeholder="enter Department" required />
    </div>
    @*<div class=" =form-group">
        <label>Movie Description</label>
        <input type="text" asp-for="MovieDesc" class="form-control" placeholder="enter movie desc" required />
    </div>*@
    <input type="submit" value="Save Changes" class="btn btn-outline-success" />
    <div class="btn btn-outline-success"><a asp-controller="Profile" asp-action="ShowAllProfiles">
        View Profile
        </a>
    </div></form>
  @*  @foreach(var profile in Model)
    {
        <a asp-controller="Profile" asp-action="EditOffice"
       asp-route-Id="@profile."><span style="color:aqua">Edit</span></a>
    }*@
   


@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>

}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}