@model IEnumerable<OfficeEntity.Message>
@{
    Layout = "~/Views/Shared/_Layout1.cshtml";
}

@*<h1>Index</h1>*@


@*
<div>
    <hr />
    <a asp-controller="Message" asp-action="Create">Message Dashboard</a>
    <hr />
</div>*@

@*<div class="container-fluid mt-4">
    <div class="form-group">
       
        <input type="submit" class="form-control form-control-lg" placeholder="Search..." [(ngModel)]="filterTerm ">
    </div>

   </div> *@
@*@using (Html.BeginForm())
{
    <p>
        Name &nbsp;@Html.TextBox("SearchName")
        <input type="submit" value="Search" />
    </p>
}*@
<nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow" >
    <script src="https://kit.fontawesome.com/bf21391385.js" crossorigin="anonymous"></script>
    <!-- Page Heading -->
    
        <div class="d-sm-flex align-items-center justify-content-between m-4">
       
        <h1  class="h3 mb-0 text-primary font-weight-bolder">Messages Board</h1>
    </div>
</nav>
@using (Html.BeginForm())
{
    <p>
                 Title &nbsp;@Html.TextBox("searchtitle")
                  <input type="submit" value="Search" />
      
    </p>
}
@*<div class="row">
    <div class="col-12">
        <h3>Message</h3>
        <hr />
        <table class="table table-light table-bordered table-hover">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Title</th>
                    <th>Content </th>
                    <th>PId</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>   h3 mb-0 text-primary
            <tbody>
                @foreach (var message in Model)
                {
                    <tr>
                        <td>@message.Id</td>
                        <td>@message.Title</td>
                        <td>@message.Content</td>
                        <td>@message.Profile.Name</td> 
                        <td>
                            <a asp-controller="Message" asp-action="Edit" asp-route-Id="@message.Id">Edit</a>
                        </td>
                        <td>
                            <a asp-controller="Message" asp-action="Delete" asp-route-Id="@message.Id">Delete</a>
                        </td>
                       
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>*@

<!-- Topbar -->

<!-- End of Topbar -->
<!-- Begin Page Content -->
@*<tbody>
    @foreach (var message in Model)
    {
        <tr>
            <td><div class="row">
               <div class="col-lg-12" >
                    <!-- Basic Card Example -->
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">@message.Title</h6>
            <td><a asp-controller="Task" asp-action="EditTasks" asp-route-taskId=@message.Id>Edit</a></td>
            <td><a asp-controller="Task" asp-action="DeleteTasks" asp-route-taskId=@message.Id>Delete</a></td>
                        </div>
                    </div>
                </div>
           
            <hr />
            <td>
                <div class="card-body">
                    <div [innerHTML]="message.content"></div>@message.Content
                    </div>
            </td>
            <hr/>
            <td>@message.Profile.Name</td>
            <hr/>
            </div>
       
            *@
            
    @foreach (var message in Model)
    {
<div class="row">
    <div class="col-lg-12" *ngFor="let message of (messages|filter:filterTerm).slice(0, show)">
        <!-- Basic Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header">
                    <div class="card-title">
                       
                            <h6 class="m-0 font-weight-bold text-primary" style="display: inline;">@message.Title</h6>
                            &nbsp;
                <!-- Circle Buttons (Small) -->
                <div *ngIf="currentUser.id == message.userId" style="display: inline;">
                            <a asp-controller="Message" asp-action="Edit" asp-route-Id=@message.Id><i class="fa-solid fa-pen-to-square" style="color:seagreen"></i></a>&nbsp;
                            <a asp-controller="Message" asp-action="Delete" asp-route-Id=@message.Id><i class="fa-solid fa-trash" style="color:red"></i></a>
                        </div>
                </div>
            </div>
           
            <div class="card-body">
                    <div [innerHTML]="message.content"></div>@message.Content
                <hr>
                <p>
                    <small class="text-muted">
                        Created On: <strong>
                           @message.CreatedOn
                        </strong>
                    </small> |
                    <small class="text-muted">
                        Author:
                            <a routerLink="/profile/user/{{message.userId}}"><strong>@message.Profile.Name</strong></a>
                    </small>
                </p>
            </div>
        </div>
    </div>
    
       
 
    
        </div>
    }
<div class="mb-4 ml-4">
    <a *ngIf="show<((messages|filter:filterTerm).length)" (click)="show = show + 4"
       class="btn btn-primary btn-icon-split">
        <span class="icon text-white-50">
            <fa-icon [icon]="faArrowDown"></fa-icon>
        </span>
        <span class="text" style="color: white;">Load More</span>
    </a>
</div>